@model OceanTechDotNetGS.Models.RegistroVazamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroVazamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDetecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDetecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSeveridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSeveridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoVazamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoVazamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistroUsuario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
